# Logs
logs
*.log

.idea
.vscode
.workspace

git_repos
/panosc-portal-demo/values-dev.yaml
/account-service/values-dev.yaml
/desktop-service/values-dev.yaml
/cloud-provider-kubernetes/values-dev.yaml
/cloud-service/values-dev.yaml
